@model List<ResultCarWithBrandDto>

@{
    ViewData["Title"] = "Araba";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni Araç Girişi</h4>
                        <p class="card-subtitle mb-4">
                            Araç ile ilgili teknik bilgileri dikkatle doldurmanız önemlidir.
                            Veri girişlerinden sonra kaydet butonuna tıklayarak işlemi tamamlayabilirsiniz
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Marka</th>
                                        <th>Model</th>
                                        <th>Vites Türü</th>
                                        <th>Km</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                        <th>Özellik Ata</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@item.BrandName</td>
                                            <td>@item.Model</td>
                                            <td>@item.Transmission</td>
                                            <td>@item.Km</td>
                                            <td>
                                                <a asp-area="Admin"
                                                   asp-controller="AdminCar"
                                                   asp-action="RemoveCar"
                                                   asp-route-id="@item.CarId"
                                                   class="btn btn-outline-danger btn-sm">
                                                    Sil
                                                </a>
                                            </td>

                                            <td>
                                                <a asp-area="Admin"
                                                   asp-controller="AdminCar"
                                                   asp-action="UpdateCar"
                                                   asp-route-id="@item.CarId"
                                                   class="btn btn-outline-success btn-sm">
                                                    Güncelle
                                                </a>
                                            </td>

                                            <td>
                                                <a asp-area="Admin"
                                                   asp-controller="AdminCarFeatureDetail"
                                                   asp-action="CreateCarFeatureByCar"
                                                   asp-route-id="@item.CarId"
                                                   class="btn btn-outline-dark btn-sm">
                                                    Özellik Ata
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a asp-area="Admin"
                               asp-controller="AdminCar"
                               asp-action="CreateCar"
                               class="btn btn-outline-primary">
                                Yeni Araç Girişi
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
